.navbar {
  background-color: #212121;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.09);

  .navbar-brand {
    min-width: 300px;
    border-right: 2px solid #5f6063;
    color: #f1f1f1;
  }

  .nav-link {
    color: #e1e1e1;
    font-weight: 600;
    text-decoration: none;
    margin: 0 10px;
    padding: 12px;
    position: relative;
    z-index: 0;
    cursor: pointer;

    &:hover {
      // border-bottom: 2px solid #e1e1e1;
    }
  }

  .dropdown {
    &:hover {
      .dropdown-menu {
        display: block;
        margin-top: -5px; // remove the gap so it doesn't close
      }
    }

    .dropdown-menu {
      width: 300px;
      background-color: #fff;
      padding: 0;
      overflow: hidden;
      border-radius: 8px;
      border: 1px solid #e1e1e1;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

      a {
        background-color: #fff;
        color: #5f6063;
        font-weight: 600;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: #E2E6F1;
        }
      }
    }
  }
}

.active-link::after {
  position: absolute!important;
  opacity: 1!important;
  width: 50%!important;
  height: 2px!important;
  content: ''!important;
  background: #e1e1e1!important;
  right: 20px!important;
  bottom: 0!important;
}
/* Border X get width  */
.borderXwidth {
  .nav-link {
    &:after,
    &:before {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 2px;
      content: '';
      background: #e1e1e1;
      transition: all 0.3s;
    }

    &:before {
      left: 0;
      top: 0;
    }

    &:after {
      right: 0;
      bottom: 0;
    }

    &:hover:after,
    &:hover:before {
      opacity: 1;
      width: 70%;
    }
  }
}
