<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand">Hopkin Security</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center borderXwidth" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Personal security guards</a>
          <a class="dropdown-item">Home security guards</a>
          <a class="dropdown-item">CCTV Surveillance</a>
          <a class="dropdown-item">Electric fencing</a>

        </div>
      </li>
    </ul>
  </div>
</nav>
