<div class="home">
  <main class="container-fluid landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeIn animate__delay-1s">
            <h1>Providing <span>Trustworthy</span> and <span>Professional</span> services for everything Security </h1>
            <p> From Personal guards, Home guards and Business guards to Electric fences and CCTV installations, we promise to deliver the best to our customers.</p>
            <button class="btn btn-cta">Get in touch</button>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="images-container animate__animated animate__fadeIn animate__delay-1s">
            <img src="assets/images/security-removebg-preview.png" alt="main" id="landing-image">
            <img src="assets/images/blue-blob.svg" alt="blue-blob" class="blob" id="blob">
            <img src="assets/images/blue-blob-2.svg" alt="blue-blob" class="blob" id="blob-2">
            <img src="assets/images/blue-blob-3.svg" alt="blue-blob" class="blob" id="blob-3">
            <img src="assets/images/blue-blob-4.svg" alt="blue-blob" class="blob" id="blob-4">

          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="container-fluid companies-section">
    <div class="container">
      <h2 class="animate__animated animate__fadeIn animate__delay-1s">Trusted by <span class="number">50<sup><small><i class="fas fa-plus"></i></small></sup></span> Happy customers <br> with our reliable Security services</h2>
    </div>
  </div>

  <div class="container-fluid services-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <h4>Personal security guards</h4>
            <p>Our skilled personnel maintain a <strong>high-visibility presence</strong> to deter illegal and inappropriate actions, looking to keep you from any signs of crime or other hazards.</p>
            <button class="btn btn-view">learn more <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <h4>Home security guards</h4>
            <p>Our well-trained and certified security guards will serve as an <strong>active 24-hour</strong> threat deterrent to dramatically reduce the risk of break-ins and property theft.</p>
            <button class="btn btn-view">learn more <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <h4>CCTV Surveillance</h4>
            <p>With our world class CCTV systems, we'll detect and prevent any compound & in-house unusual activities by assessing and monitoring events in real time.</p>
            <button class="btn btn-view">learn more <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <h4>Electric fencing</h4>
            <p>Our well-designed and perfectly constructed electric fence systems will work well for your businesses, homes and even farms to safeguard your property .</p>
            <button class="btn btn-view">learn more <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
