.home {
  .landing-section {
    padding: 130px 0;
    min-height: 75vh;

    h1 {
      font-weight: 600;
      letter-spacing: 2px;
      color: #3c4043;

      span {
        color: #14348D;
      }
    }

    p {
      color: #80868b;
      margin-top: 20px;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .btn-cta{
      background-color: #fff;
      border: 2px solid #14348D;
      border-radius: 20px;
      padding: 7px 20px;
      color: #14348D;
      font-weight: 600;
      letter-spacing: 1px;
      transition: all .2s ease-in;
      margin-top: 10px;

      &:hover{
        background-color: #14348D;
        color: #f1f1f1;
      }
    }

    .images-container {
      position: relative;

      #landing-image {
        position: absolute;
        left: 80px;
        top: -20px;
        z-index: 10;
        filter: drop-shadow(0px 3px 40px rgba(0, 0, 0, 0.5)) grayscale(90%) saturate(100%);
      }

      .blob {
        position: absolute;
        top: -30px;
        left: 0;
      }

      #blob {
        transform: scale(1.4);
        z-index: 9;
      }

      #blob-2 {
        transform: scale(1.65);
        z-index: 8;
      }

      #blob-3 {
        transform: scale(1.85);
        z-index: 7;
      }

      #blob-4 {
        transform: scale(2.05);
        z-index: 6;
      }
    }
  }

  .companies-section {
    background-color: #14348D;
    padding: 70px;
    text-align: center;

    h2 {
      color: #f1f1f1;
      font-size: 2.6rem;
      .number {
        font-weight: 600;
        small{
          margin-left: 5px;
        }
      }
    }
  }

  .services-section{
    padding: 50px 0;
    .card {
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 7px 7px 0 0 rgba(0,0,0,0.09);
      background-color: #FCFCFC;

      &:hover {
        .btn-view span {
          margin-left: 5px;
        }
      }

      h4 {
        color: #5f6063;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 20px;
        min-height: 42px;
      }

      p {
        color: #5f6063;
        font-size: 0.9rem;
      }

      .btn-view {
        color: #14348D;
        // font-size: 0.9rem;
        padding-left: 0;
        text-align: left;

        span {
          transition: all 0.2s;
        }
      }
    }
  }
}
