.footer {
  background-color: #14348D;
  padding: 40px 0 20px 0;


  .card{
    background-color: transparent;
    border: none;
    h4{
      font-weight: 600;
      color: #f1f1f1;
      margin-bottom: 20px;
    }

    p{
      color: #e1e1e1;
    }
  }

  .copyright {
    border-top: 2px solid #e1e1e1;
    padding-top: 20px;

    p {
      color: #dadce0;
      text-align: center;
      margin: 0;
    }
  }
}
