<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">

        <div class="card">
          <h4>HOPKIN SECURITY COMPANY LTD</h4>
          <p> Providing Trustworthy and Professional services for everything Security </p>
        </div>

      </div>

      <div class="col-md-2"></div>

      <div class="col-md-5">

        <div class="card">
          <h4>TALK TO US</h4>

          <p class="row">
            <span class="col-md-1"><i class="fas fa-phone-alt"></i></span>
            <span class="col-md-10">+254 724 715 495</span>
          </p>

          <p class="row">
            <span class="col-md-1"><i class="fas fa-map-marker-alt"></i></span>
            <span class="col-md-10">
              FORTIS SUITES 4TH FLOOR <br>
              HOSPITAL ROAD OPP. NAIROBI CLUB <br>
              P.O BOX 9660-00200 <br>
              NAIROBI.
            </span>
          </p>
        </div>

      </div>
    </div>

    <div class="copyright">
      <p>&copy; {{year}} | Hopkin Security Company Limited | All right reserved</p>

    </div>

  </div>
</div>
